@model EntityLayer.Concrete.ImageFile
@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div >
    <h1>Yeni Resim Ekleme Sayfası</h1>
</div>
<div style="margin-left:5rem;margin-top:5rem">
    

    @using (Html.BeginForm("AddImage", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.Label("Resim Adı")
            @Html.TextBoxFor(x => x.ImageName, new { @class = "form-control", @style = "width:20rem" })
            @Html.ValidationMessageFor(x => x.ImageName)
            <br />
            <div class="custom-file" style="width:20rem">
                <input type="file" name="WriterImage" class="custom-file-input" id="customFile">
                <label class="custom-file-label " for="customFileLang">Resim Seçiniz</label>
            </div>
            <br />
            <br />
            <button class="btn btn-success toastrBtn3">Kaydet</button>
        </div>}
</div>

