@model EntityLayer.Dto.WriterLogInDto
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <title>Kayıt Ekranı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form-20/css/style.css">


</head>

<body class="img js-fullheight" style="background-image: url(/AdminLTE-3.0.4/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-2">
                    <h2 class="heading-section">-  Kayıt Ekranı - </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-3 text-center">Bir Hesap Yaratın.</h3>
                        @using (Html.BeginForm("WriterRegister", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <input type="text" name="WriterName" class="form-control" placeholder="Adınız" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="WriterSurname" class="form-control" placeholder="Soyadınız" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="WriterMail" class="form-control" placeholder="E-Mail" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="WriterAbout" class="form-control" placeholder="Hakkınızda" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Title" class="form-control" placeholder="Ünvanınız" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" name="WriterPassword" type="password" class="form-control" placeholder="Parola" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit"  class="form-control btn btn-primary submit px-3">Kayıt Ol</button>
                            </div>
                        }

                        <div class="w-100 text-center mt-4 text">
                            <a href="/Home/HomePage" class="btn btn-outline-info" style="color: white"><b>Ana sayfaya Dön</b></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/AdminLTE-3.0.4/login-form-20/js/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/main.js"></script>

</body>
</html>

