@using EntityLayer.Concrete
@model List<Heading>

@{ Layout = null; }

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Mvc Proje Kampı |</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="~/AdminLTE-3.0.4/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light navbar-light ">
            <span class="nav-item" style="color:gray">
                <a class="nav-link text-gray" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </span>
            <a href="/Home/HomePage"  style="color:grey">
                <i class="fas fa-home ml-1"></i>
                <span class="brand-text font-weight-light "><i>AnaSayfa</i></span>
            </a>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->

            <a href="#" class="brand-link  ">
                <i class="fas fa-cannabis ml-2 "></i>
                <span class="brand-text font-weight-light "><b>BAŞLIKLAR</b></span>
            </a>
            <span class="brand-link">
                <i class="far fa-clock ml-2"></i>
                <span class="brand-text font-weight-light ">@DateTime.Now.ToString("dd-MMMM-yyyy")</span>

            </span>
            <!-- Sidebar -->
            <br />

            <div class="">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    @foreach (var item in Model)
                    {
                        <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item ">

                                <a href="/Default/DefaultHeadings/@item.HeadingID" class="nav-link ">
                                    <i class="fas fa-comment"></i>
                                    <p>
                                        <i>@item.HeadingName</i>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    }

                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">



            <!-- Main content -->
            <div class="content ">
                @Html.Action("Index", "Default")
                @*@RenderBody()*@
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>


    </div>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/plugins/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>


    <script type="text/javascript" src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    @*<script type="text/javascript" src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>*@



    <script type="text/javascript">jQuery.noConflict();</script>
</body>
</html>
