@{ Layout = null; }

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>| Yazar Paneli</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="~/AdminLTE-3.0.4/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light navbar-light ">
            <span class="nav-item">
                <a class="nav-link text-gray" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </span>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <i class="fas fa-feather-alt ml-3"></i>
                <span class="brand-text font-weight-light ml-1">Yazar Paneli</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="#" class="d-block"><h2>Hoş Geldiniz...</h2> </a>
                        <h4 class="d-block" style="color:aliceblue">
                            @DateTime.Now.ToString("dd-MMMM-yyyy")
                        </h4>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item has-treeview">
                            <a href="/WriterPanel/WriterProfile" class="nav-link ">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Profilim

                                </p>
                            </a>

                        </li>

                        <li class="nav-item">
                            <a href="/WriterPanel/MyHeading" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Başlıklarım
                                    @*<span class="right badge badge-danger">Başlıklarım</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/WriterPanel/AllHeading" class="nav-link">
                                <i class="nav-icon fas fa-list-alt"></i>
                                <p>
                                    Tüm Başlıklar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/WriterPanelMessage/Inbox" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Mesajlar
                                </p>
                            </a>

                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/WriterPanelContent/MyContent" class="nav-link">
                                <i class="nav-icon fas fa-feather-alt"></i>
                                <p>
                                    Yazılarım
                                </p>
                            </a>

                        </li>

                        <li class="nav-item has-treeview">
                            <a href="/Default/DefaultHeadings" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Siteye Git
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Login/LogOut" class="nav-link">
                                <i class="nav-icon fas fa-apple-alt"></i>
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div class="content ">
                @RenderBody()
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->


    </div>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/plugins/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>


    <script type="text/javascript" src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.js"></script>

    <script type="text/javascript">

        $(".toastrBtn1").click(function () {
            toastr.success("Başarıyla Güncellendi")
        }),
            $(".toastrBtn2").click(function () {
                toastr.error(+"Başarıyla Silindi")
            }),
            $(".toastrBtn3").click(function () {
                toastr.success("Kategori Eklendi")
            });

    </script>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>
</body>
</html>

